@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}

.ant-btn:not([disabled]) {
  background: #1677ff !important;
}
